{% extends "layout.html" %}
{% block body %}

<div class="page-header">
		<h1>Scrims</h1>
</div>
<div class="row">
		<div class="col-md-4">
<p>Find the most suitable team to scrim with! To search choose a skill level/division, time zone and remember to choose at least one day of availability. </p>
<br>
<form class="form-horizontal" id="filter_scrims_form" action="{{ url_for('all_scrims') }}" method="POST" name="filter_scrims">
  {{form.hidden_tag()}}
<fieldset>
				
				<div class="form-group">
						<label for="select" class="col-lg-2 control-label">Skill</label>
						<div class="col-lg-10">
								{{form.team_skill_level(class_="form-control")}}
						</div>
				</div>
				<div class="form-group">
						<label for="select" class="col-lg-2 control-label">Time</label>
						<div class="col-lg-10">
								{{form.team_time_zone(class_="form-control")}}
						</div>
				</div>
				<div class="form-group">
						<label for="select" class="col-lg-2 control-label">Type</label>
						<div class="col-lg-10">
								{{form.team_type(class_="form-control")}}
						</div>
				</div>
				<div class="form-group">
						<label for="select" class="col-lg-2 control-label">Availability</label>
						<div class="col-lg-10">
								<div class="row">
										<div class="col-xs-6">
												<div class="checkbox">
										<label>
												{{form.mon()}} Monday 
										</label>
								</div>
								<div class="checkbox">
										<label>
												{{form.tue()}} Tuesday
										</label>
								</div>
								<div class="checkbox">
										<label>
												{{form.wed()}} Wednesday
										</label>
								</div>
								<div class="checkbox">
										<label>
												{{form.thu()}} Thursdy
										</label>
								</div>
										</div>
										<div class="col-xs-6">
												<div class="checkbox">
										<label>
												{{form.fri()}} Friday
										</label>
								</div>
								<div class="checkbox">
										<label>
												{{form.sat()}} Saturday
										</label>
								</div>
								<div class="checkbox">
										<label>
												{{form.sun()}} Sunday
										</label>
								</div>
										</div>
								</div>



						</div>
				</div>
				<div class="form-group">
						<label for="select" class="col-lg-2 control-label">Team preset</label>
						<div class="col-lg-10">
								{{form.team_preference(class_="form-control", default="None")}}
						</div>
				</div>
<div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
			  <a href="#" class="btn btn-primary" onclick="document.filter_scrims.submit();return false;"><i class="fa fa-search"></i> Search</a>
			  <!--<input type="submit" class="btn btn-primary" value="Search">-->
{{ form.clear() }} <!-- necessary! -->
<a href="#" onclick="clearSearch();" class="btn btn-primary"><i class="fa fa-times"></i> Clear</a>
      </div>
    </div>
		</fieldset>
</form>

		</div>
		<div class="col-md-8">
{% if teams_list %}
  <table class="table table-striped table-hover">
		  <thead>
				  <tr>
						  <th>Name</th>
						  <th>Skill Level</th>
						  <th>Time Zone</th>
						  <th>Week Days</th>
						  <th>Type</th>
						  <th>Challenge</th>
				  </tr>
		  </thead>
		  <tbody>


    {% for team in teams_list.items %}
		  <tr>
				  <td> <a href="{{ url_for('team_page', team_id=team.id) }}">{{ team.name }}</a></td>
				  <td>{{ team.skill_level }}</td>
				  <td>{{ get_time_zone_label(team.time_zone) }}</td>
				  <td>{% for day in convert_days(team.week_days) %}
						  <span class="label label-info">{{day}}</span>
						  {% endfor %}</td>
				  <td>
						  {{team.type}}
				  </td>
				  <td>
						  <a class="btn btn-success btn-xs" href="{{url_for('propose_scrim', opponent_team_id=team.id)}}"><i class="fa fa-bullseye"></i> Propose Scrim</a>
				  </td>
		  </tr>

    {% endfor %}
    
	</tbody>
	</table>
	<ul class="pagination" style="margin-top:0;">
    <!-- previous page -->
    {% if teams_list.has_prev %}
	<li> <a href="{{ url_for('all_scrims', page=teams_list.prev_num) }}">Previous</a></li>
    {% endif %}

    <!-- all page numbers -->
    {% for page_num in teams_list.iter_pages() %}
      {% if page_num %}
        {% if page_num != teams_list.page %}
		<li> <a href="{{ url_for('all_scrims', page=page_num) }}">{{ page_num }}</a></li>
        {% else %}
		<li class="active"><a href="#">{{ page_num }}</a></li>
      {% endif %}
      {% else %}
	  <li class="disabled"><a href="#">…</a></li>
      {% endif %}
    {% endfor %}

    <!-- next page -->
    {% if teams_list.has_next %}
	<li><a href="{{ url_for('all_scrims', page=teams_list.next_num) }}">Next</a></li>
    {% endif %}
  {% endif %}
		</div>


</div>

<script type="text/javascript">
	$('#clear').hide();

	function clearSearch() {
    	$('#clear').prop('checked', true);
    	$('#filter_scrims_form').submit();
    }

	// team preferences
	var teamPreferenceSelect = $("#team_preference");
  	teamPreferenceSelect.change(function() {
  		var teamId = teamPreferenceSelect.val();
  		if (teamId == "None") {
  			clearFormValues();
  		}
  		else {
  			updateFormValues(teamId);
  		}
	});

  	function clearFormValues() {
  		$("#team_skill_level").val("ALL");
  		$("#team_time_zone").val("ALL");
  		$("#team_type").val("ALL");
  		$("#mon").prop("checked", true);
  		$("#tue").prop("checked", true);
  		$("#wed").prop("checked", true);
  		$("#thu").prop("checked", true);
  		$("#fri").prop("checked", true);
  		$("#sat").prop("checked", true);
  		$("#sun").prop("checked", true);
  	}

	function updateFormValues(teamId) {
		{% for your_team in your_team_list %}
			var your_team_id = "{{ your_team.id }}";
			if (your_team_id == teamId) {
				console.log("{{ your_team.skill_level }}");
				$("#team_skill_level").val("{{ your_team.skill_level }}");
				$("#team_time_zone").val("{{ your_team.time_zone }}");
				$("#team_type").val("{{ your_team.type }}");

	            var week_days = "{{ your_team.week_days }}";
	            if (week_days.charAt(0) == "1") {
  					$("#mon").prop("checked", true);
	            } else {
	            	$("#mon").prop("checked", false);
	            }
	            if (week_days.charAt(1) == "1") {
  					$("#tue").prop("checked", true);
	            } else {
	            	$("#tue").prop("checked", false);
	            }
	            if (week_days.charAt(2) == "1") {
  					$("#wed").prop("checked", true);
	            } else {
	            	$("#wed").prop("checked", false);
	            }
	            if (week_days.charAt(3) == "1") {
  					$("#thu").prop("checked", true);
	            } else {
	            	$("#thu").prop("checked", false);
	            }
	            if (week_days.charAt(4) == "1") {
  					$("#fri").prop("checked", true);
	            } else {
	            	$("#fri").prop("checked", false);
	            }
	            if (week_days.charAt(5) == "1") {
  					$("#sat").prop("checked", true);
	            } else {
	            	$("#sat").prop("checked", false);
	            }
	            if (week_days.charAt(6) == "1") {
  					$("#sun").prop("checked", true);
	            } else {
	            	$("#sun").prop("checked", false);
	            }
			}
		{% endfor %}
	}
</script>

{% endblock %}
