{% extends "layout.html" %}
{% block body %}
<div class="page-header">
		<h1>Users</h1>
</div>
<div class="row">

<div class="col-md-4">
  <form class="form-horizontal" id="filter_users_form" action="{{ url_for('all_users') }}" method="POST" name="filter_users">

  {{form.hidden_tag()}}
    <fieldset>
        <div class="form-group">
            <label for="nickName" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
{{form.nickname(type="text", class_="form-control", id="nickName", placeholder="Nickname")}}
            </div>
        </div><div class="form-group">
            <label for="nickName" class="col-lg-2 control-label">Steam ID</label>
            <div class="col-lg-10">
{{form.steam_id(type="text", class_="form-control", id="nickName", placeholder="Steam ID")}}
            </div>
        </div>
<div class="form-group">
            <label for="merc" class="col-lg-2 control-label">Merc</label>
            <div class="col-lg-10">
{{form.is_merc(id="merc")}} User is willing to play as merc/ringer
            </div>
        </div>
<div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">

<input type="submit" class="btn btn-primary" value="Search">
{{ form.clear() }} <!-- necessary! -->
<input type="button" onclick="clearSearch();" class="btn btn-primary" value="Clear">
      </div>
    </div>
    </fieldset>

</form>
</div>

		<div class="col-md-8">
				
  {% if users_list %}
    
<table class="table table-striped table-hover ">
  <thead>
    <tr>
	  <th>Avatar</th>	
      <th>Nickname</th>
      <th>Skill Level/Div</th>
	  <th>Join Date</th>
	  <th>Main Class</th>
	  <th>Merc</th>
    </tr>
  </thead>
  <tbody>
{% for user in users_list.items %}

	  <tr>
			  <td><img src="{{user.avatar_url}}" /></td>
			  <td><a href="{{ url_for('user_page', steam_id=user.steam_id) }}"> {{user.nickname}}</a></td>
			  <td>{{user.skill_level}}</td>
			  <td><span class="convert_utc_time">{{user.join_date}}</span></td>
			  <td>{{user.main_class}}</td>
			  <td>
					  {% if user.is_merc == 1 %}
					  <i class="fa fa-check"></i>
					  {% else %}
					  <i class="fa fa-times"></i>
					  {% endif %}
			  </td>
	  </tr>
    {% endfor %}



  </tbody>
</table>

	<ul class="pagination" style="margin-top:0;">
    <!-- previous page -->
    {% if users_list.has_prev %}
	<li><a href="{{ url_for('all_users', page=users_list.prev_num) }}">«</a></li>
    {% endif %}

    <!-- all page numbers -->
    {% for page_num in users_list.iter_pages() %}
      {% if page_num %}
        {% if page_num != users_list.page %}
		<li><a href="{{ url_for('all_users', page=page_num) }}">{{ page_num }}</a></li>
        {% else %}
		<li class="active"><a href="#">{{ page_num }}</a></li>
      {% endif %}
      {% else %}
        <span class=ellipsis>…</span>
      {% endif %}
    {% endfor %}

    <!-- next page -->
    {% if users_list.has_next %}
	<li><a href="{{ url_for('all_users', page=users_list.next_num) }}">»</a></li>
    {% endif %}
  {% endif %}

  </ul>
  </div>
  </div>

<script type="text/javascript">
  $('#clear').hide();

  function clearSearch() {
    $('#clear').prop('checked', true);
    $('#filter_users_form').submit();
  }
</script>

<script src="/static/js/moment27.min.js"></script>
<script src="/static/js/moment-timezone-with-data.min.js"></script>
<script type="text/javascript">
  var utc_time = $("span[class='convert_utc_time']")
  formatUTCTime();
  function formatUTCTime() {
    utc_time.each(function() {
      formatted_time = moment.utc($(this)[0].innerText).format("LLLL")
      $(this)[0].innerText = formatted_time;
    });
  }
</script>

{% endblock %}
