{% extends "layout.html" %}
{% block body %}
  {% if users_list %}
    <ul>
    {% for user in users_list.items %}
      <li>name: {{ user.nickname }}, steam_id: {{ user.steam_id }} <a href="{{ url_for('user_page', steam_id=user.steam_id) }}">go to profile page</a></li>
    {% endfor %}
    </ul>

    <!-- previous page -->
    {% if users_list.has_prev %}
      <a href="{{ url_for('all_users', page=users_list.prev_num) }}">Previous</a>
    {% endif %}

    <!-- all page numbers -->
    {% for page_num in users_list.iter_pages() %}
      {% if page_num %}
        {% if page_num != users_list.page %}
          <a href="{{ url_for('all_users', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <strong>{{ page_num }}</strong>
      {% endif %}
      {% else %}
        <span class=ellipsis>…</span>
      {% endif %}
    {% endfor %}

    <!-- next page -->
    {% if users_list.has_next %}
      <a href="{{ url_for('all_users', page=users_list.next_num) }}">Next</a>
    {% endif %}
  {% endif %}
{% endblock %}