{% extends "layout.html" %}
{% block body %}

<div class="page-header">
		<h1>Single Scrims</h1>
		
</div>
<div class="row">
		<div class="col-md-12">
				<div class="row">
						<div class="col-md-6">
<form class="form-horizontal" id="filter_single_scrims_form" action="{{ url_for('all_singles') }}" method="POST" name="filter_scrims">
  {{form.hidden_tag()}}
<fieldset>
				<div class="form-group">
			            <label for="team_leader" class="col-lg-2 control-label">Team Leader</label>
			            <div class="col-lg-10">
								{{form.team_leader(class_="form-control", placeholder="Name")}}
	            		</div>
            	</div>
				<div class="form-group">
						<label for="select" class="col-lg-2 control-label">Skill</label>
						<div class="col-lg-10">
								{{form.team_skill_level(class_="form-control")}}
						</div>
				</div>
				<div class="form-group">
						<label for="select" class="col-lg-2 control-label">Time</label>
						<div class="col-lg-10">
								{{form.team_time_zone(class_="form-control")}}
						</div>
				</div>
				<div class="form-group">
						<label for="select" class="col-lg-2 control-label">Type</label>
						<div class="col-lg-10">
								{{form.team_type(class_="form-control")}}
						</div>
				</div>
				<!-- Weekdays -->
				<!-- <div class="form-group">
						<label for="select" class="col-lg-2 control-label">Availability</label>
						<div class="col-lg-10">
								<div class="row">
										<div class="col-xs-6">
												<div class="checkbox">
										<label>
												{{form.mon()}} Monday 
										</label>
								</div>
								<div class="checkbox">
										<label>
												{{form.tue()}} Tuesday
										</label>
								</div>
								<div class="checkbox">
										<label>
												{{form.wed()}} Wednesday
										</label>
								</div>
								<div class="checkbox">
										<label>
												{{form.thu()}} Thursdy
										</label>
								</div>
										</div>
										<div class="col-xs-6">
												<div class="checkbox">
										<label>
												{{form.fri()}} Friday
										</label>
								</div>
								<div class="checkbox">
										<label>
												{{form.sat()}} Saturday
										</label>
								</div>
								<div class="checkbox">
										<label>
												{{form.sun()}} Sunday
										</label>
								</div>
										</div>
								</div>



						</div>
				</div> -->
<div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">

<input type="submit" class="btn btn-primary" value="Search">
{{ form.clear() }} <!-- necessary! -->
<input type="button" onclick="clearSearch();" class="btn btn-primary" value="Clear">
      </div>
    </div>
		</fieldset>
</form>
</div>
<div class="col-md-6">
		<p>Single scrimss are one-off scrims posted by team leaders. Singles scrims are usually intended to be played in the next few days or week and are a quick way to find a suitable team to practice with. A leader does not have to be part of a team to be able to post singles scrims. It is as quick and easy as possible.<br>
		You can customize the filter on the left to your preferences, by choosing a skill level/division, time zone or a game type.</p>
			<h4><a href="{{url_for('new_single')}}" class="btn btn-success">Add Single Scrim</a></h4>
</div>
</div>
</div>
  <table class="table table-striped table-hover">
		  <thead>
				  <tr>
						  <th></th>
						  <th>Team Leader</th>
						  <th>Skill Level</th>
						  <th>Type</th>
						  <th>Time Zone</th>
						  <th>Maps</th>
						  <th>Comment</th>
						  <th>Add on Steam</th>
				  </tr>
		  </thead>
		  <tbody>


    {% for scrim in single_scrims_list.items %}
		  <tr>
				  <td> <img src="{{ scrim.user.avatar_url }}"></td>
				  <td><a href="{{url_for('user_page', steam_id=scrim.user.steam_id)}}">{{scrim.user.nickname}}</a></td>
				  <td>{{ scrim.skill_level }}</td>
				  <td>{{ scrim.type }}</td>
				  <td>{{ get_time_zone_label(scrim.time_zone)  }}</td>
				  <td>{{ scrim.maps }}</td>
				  <td>{{ scrim.comment }}</td>
				  <td><a class="btn btn-info btn-xs" href="steam://friends/add/{{ scrim.user.steam_id }}"><i class="fa fa-plus"></i> Add on Steam</a></td>
		  </tr>
    {% endfor %}
    
	</tbody>
	</table>
	
	<!-- Pagination stuff -->
	<ul class="pagination" style="margin-top:0;">
    <!-- previous page -->
    {% if single_scrims_list.has_prev %}
    <li> <a href="{{ url_for('all_singles', page=single_scrims_list.prev_num) }}">Previous</a></li>
    {% endif %}

    <!-- all page numbers -->
    {% for page_num in single_scrims_list.iter_pages() %}
      {% if page_num %}
        {% if page_num != single_scrims_list.page %}
        <li> <a href="{{ url_for('all_singles', page=page_num) }}">{{ page_num }}</a></li>
        {% else %}
        <li class="active"><a href="#">{{ page_num }}</a></li>
      {% endif %}
      {% else %}
      <li class="disabled"><a href="#">…</a></li>
      {% endif %}
    {% endfor %}

    <!-- next page -->
    {% if single_scrims_list.has_next %}
    <li><a href="{{ url_for('all_singles', page=single_scrims_list.next_num) }}">Next</a></li>
    {% endif %}
	</ul>

		</div>

</div>

<script type="text/javascript">
  $('#clear').hide();

  function clearSearch() {
    $('#clear').prop('checked', true);
    $('#filter_single_scrims_form').submit();
  }
</script>

{% endblock %}
