{% extends "layout.html" %}
{% block body %}

<div class="page-header">
		<h1>Single Scrims</h1>
		
</div>
<div class="row">
		<div class="col-md-12">
				<div class="row">
						<div class="col-md-6">
<form class="form-horizontal" id="filter_single_scrims_form" action="{{ url_for('all_singles') }}" method="POST" name="filter_scrims">
  {{form.hidden_tag()}}
<fieldset>
				<div class="form-group">
			            <label for="team_leader" class="col-lg-2 control-label">Team Leader</label>
			            <div class="col-lg-10">
								{{form.team_leader(class_="form-control", placeholder="Name")}}
	            		</div>
            	</div>
				<div class="form-group">
						<label for="select" class="col-lg-2 control-label">Skill</label>
						<div class="col-lg-10">
								{{form.team_skill_level(class_="form-control")}}
						</div>
				</div>
				<div class="form-group">
						<label for="select" class="col-lg-2 control-label">Time</label>
						<div class="col-lg-10">
								{{form.team_time_zone(class_="form-control")}}
						</div>
				</div>
				<div class="form-group">
						<label for="select" class="col-lg-2 control-label">Type</label>
						<div class="col-lg-10">
								{{form.team_type(class_="form-control")}}
						</div>
				</div>
				<!-- Weekdays -->
				<!-- <div class="form-group">
						<label for="select" class="col-lg-2 control-label">Availability</label>
						<div class="col-lg-10">
								<div class="row">
										<div class="col-xs-6">
												<div class="checkbox">
										<label>
												{{form.mon()}} Monday 
										</label>
								</div>
								<div class="checkbox">
										<label>
												{{form.tue()}} Tuesday
										</label>
								</div>
								<div class="checkbox">
										<label>
												{{form.wed()}} Wednesday
										</label>
								</div>
								<div class="checkbox">
										<label>
												{{form.thu()}} Thursdy
										</label>
								</div>
										</div>
										<div class="col-xs-6">
												<div class="checkbox">
										<label>
												{{form.fri()}} Friday
										</label>
								</div>
								<div class="checkbox">
										<label>
												{{form.sat()}} Saturday
										</label>
								</div>
								<div class="checkbox">
										<label>
												{{form.sun()}} Sunday
										</label>
								</div>
										</div>
								</div>



						</div>
				</div> -->
<div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">

<input type="submit" class="btn btn-primary" value="Search">
{{ form.clear() }} <!-- necessary! -->
<input type="button" onclick="clearSearch();" class="btn btn-primary" value="Clear">
      </div>
    </div>
		</fieldset>
</form>
</div>
<div class="col-md-6">
    <p><i class="fa fa-bolt"></i> Flash Scrims are valid for 2 hours after posting. After that they disappear from the search. <i class="fa fa-clock-o"></i> Single Scrims with a <span class="label label-warning">Yellow</span> background are <span class="label label-default">2 days old</span>. Scrims with a <span class="label label-danger">Red</span> background are  <span class="label label-default">3 days old</span>.<br> You can customize the filter on the left to your preferences, by choosing a skill level/division, time zone or a game type. <strong>If you want to delete/cancle a scrim, you can do so from your <a href="{{url_for('user_page', steam_id=g.user.steam_id)}}">profile page</a></strong>. </p>
    <h4><a href="{{url_for('new_single')}}" class="btn btn-success"><i class="fa fa-plus"></i> Add Single Scrim</a></h4>
</div>
</div>
</div>
<h3><i class="fa fa-bolt"></i> Flash Scrims - 2 Hour Validity</h3>
  <table class="table table-hover table-bordered">
		  <thead>
				  <tr>
						  <th></th>
						  <th>Team Leader</th>
						  <th>Skill Level</th>
						  <th>Type</th>
						  <th>Time Zone</th>
						  <th>Maps</th>
						  <th>Comment</th>
						  <th>Add on Steam</th>
				  </tr>
		  </thead>
		  <tbody>


    {% for scrim in single_scrims_list.items %}
    {% if nw - scrim.epoch <= 7200 and scrim.is_flash == 1 %}
    <tr class="info">
				  <td> <img src="{{ scrim.user.avatar_url }}"></td>
				  <td><a href="{{url_for('user_page', steam_id=scrim.user.steam_id)}}">{{scrim.user.nickname}}</a></td>
				  <td>{{ scrim.skill_level }}</td>
				  <td>{{ scrim.type }}</td>
				  <td>{{ get_time_zone_label(scrim.time_zone)  }}</td>
				  <td>{{ scrim.maps }}</td>
				  <td>{{ scrim.comment }}</td>
				  <td><a class="btn btn-info btn-xs" href="steam://friends/add/{{ scrim.user.steam_id }}"><i class="fa fa-plus"></i> Add on Steam</a></td>
		  </tr>
          {% endif %}
    {% endfor %}
    
	</tbody>
	</table>

    <h3><i class="fa fa-clock-o"></i> Single Scrims - 3 Day Validity</h3>
  <table class="table table-hover table-bordered">
		  <thead>
				  <tr>
						  <th></th>
						  <th>Team Leader</th>
						  <th>Skill Level</th>
						  <th>Type</th>
						  <th>Time Zone</th>
						  <th>Maps</th>
						  <th>Comment</th>
						  <th>Add on Steam</th>
				  </tr>
		  </thead>
		  <tbody>


    {% for scrim in single_scrims_list.items %}
    {% if nw - scrim.epoch <= 259200 and scrim.is_flash == 0 %}
    <tr class="{% if nw - scrim.epoch > 86400 and nw - scrim.epoch < 172800  %}warning{% elif nw - scrim.epoch >= 172800 %}danger{% endif %}">
				  <td> <img src="{{ scrim.user.avatar_url }}"></td>
				  <td><a href="{{url_for('user_page', steam_id=scrim.user.steam_id)}}">{{scrim.user.nickname}}</a></td>
				  <td>{{ scrim.skill_level }}</td>
				  <td>{{ scrim.type }}</td>
				  <td>{{ get_time_zone_label(scrim.time_zone)  }}</td>
				  <td>{{ scrim.maps }}</td>
				  <td>{{ scrim.comment }}</td>
				  <td><a class="btn btn-info btn-xs" href="steam://friends/add/{{ scrim.user.steam_id }}"><i class="fa fa-plus"></i> Add on Steam</a></td>
		  </tr>
          {% endif %}
    {% endfor %}
    
	</tbody>
	</table>
	
	<!-- 
	<ul class="pagination" style="margin-top:0;">
    {% if single_scrims_list.has_prev %}
    <li> <a href="{{ url_for('all_singles', page=single_scrims_list.prev_num) }}">Previous</a></li>
    {% endif %}

    {% for page_num in single_scrims_list.iter_pages() %}
      {% if page_num %}
        {% if page_num != single_scrims_list.page %}
        <li> <a href="{{ url_for('all_singles', page=page_num) }}">{{ page_num }}</a></li>
        {% else %}
        <li class="active"><a href="#">{{ page_num }}</a></li>
      {% endif %}
      {% else %}
      <li class="disabled"><a href="#">…</a></li>
      {% endif %}
    {% endfor %}

    {% if single_scrims_list.has_next %}
    <li><a href="{{ url_for('all_singles', page=single_scrims_list.next_num) }}">Next</a></li>
    {% endif %}
    </ul>-->

		</div>

</div>

<script type="text/javascript">
  $('#clear').hide();

  function clearSearch() {
    $('#clear').prop('checked', true);
    $('#filter_single_scrims_form').submit();
  }
</script>

{% endblock %}
