{% extends "layout.html" %}
{% block body %}
  Find scrims:

  <form action="{{ url_for('show_all_scrims') }}" method="POST" name="filter_scrims">
    {{form.hidden_tag()}}
    <table>
      <tr>
          <td>Team Skill Level:</td>
          <td>{{form.team_skill_level()}}</td>
      </tr>
      <tr>
          <td>Time Zone</td>
          <td>{{form.team_time_zone()}}</td>
      </tr>
      <tr>
        <td>Monday</td>
        <td>{{form.mon()}}</td>
      </tr>
      <tr>
          <td>Tuesday</td>
          <td>{{form.tue()}}</td>
      </tr>
      <tr>
          <td>Wednesday</td>
          <td>{{form.wed()}}</td>
      </tr>
      <tr>
          <td>Thursday</td>
          <td>{{form.thu()}}</td>
      </tr>
      <tr>
          <td>Friday</td>
          <td>{{form.fri()}}</td>
      </tr>
      <tr>
          <td>Saturday</td>
          <td>{{form.sat()}}</td>
      </tr>
      <tr>
          <td>Sunday</td>
          <td>{{form.sun()}}</td>
      </tr>
      <tr>
          <td></td>
          <td><input type="submit" value="Search"></td>
      </tr>
    </table>
  </form>

  {% if teams_list %}
    <ul>
    {% for team in teams_list.items %}
      <li>name: {{ team.name }}, skill_level: {{ team.skill_level }}, time_zone: {{ team.time_zone }}, week_days: {{ team.week_days }} <a href="{{ url_for('team_page', team_id=team.id) }}">go to team page</a></li>
    {% endfor %}
    </ul>

    <!-- previous page -->
    {% if teams_list.has_prev %}
      <a href="{{ url_for('show_all_users', page=teams_list.prev_num) }}">Previous</a>
    {% endif %}

    <!-- all page numbers -->
    {% for page_num in teams_list.iter_pages() %}
      {% if page_num %}
        {% if page_num != teams_list.page %}
          <a href="{{ url_for('show_all_users', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <strong>{{ page_num }}</strong>
      {% endif %}
      {% else %}
        <span class=ellipsis>…</span>
      {% endif %}
    {% endfor %}

    <!-- next page -->
    {% if teams_list.has_next %}
      <a href="{{ url_for('show_all_users', page=teams_list.next_num) }}">Next</a>
    {% endif %}
  {% endif %}
{% endblock %}