{% extends 'layout.html' %}

{% block body %}
<div class="col-lg-6 col-lg-offset-3 well">

<form class="form-horizontal" action="" method="post"  name="create_team">

	{{create_team_form.hidden_tag()}}
		<fieldset>
				<legend>New Team</legend>
				<div class="form-group">
						<label for="teamName" class="col-lg-2 control-label">Email</label>
						<div class="col-lg-10">
{{create_team_form.team_name(type="text", class_="form-control", id="teamName", placeholder="Super Team")}}
						</div>
				</div>
				<div class="form-group">
						<label for="select" class="col-lg-2 control-label">Selects</label>
						<div class="col-lg-10">
								{{create_team_form.team_skill_level(class_="form-control")}}
						</div>
				</div>
				<div class="form-group">
						<label for="select" class="col-lg-2 control-label">Selects</label>
						<div class="col-lg-10">
								{{create_team_form.team_time_zone(class_="form-control")}}
						</div>
				</div>
				<div class="form-group">
						<label for="select" class="col-lg-2 control-label">Availability</label>
						<div class="col-lg-10">
								<div class="checkbox">
										<label>
												{{create_team_form.mon()}} Monday 
										</label>
								</div>
								<div class="checkbox">
										<label>
												{{create_team_form.tue()}} Tuesday
										</label>
								</div>
								<div class="checkbox">
										<label>
												{{create_team_form.wed()}} Wednesday
										</label>
								</div>
								<div class="checkbox">
										<label>
												{{create_team_form.thu()}} Thursdy
										</label>
								</div>
								<div class="checkbox">
										<label>
												{{create_team_form.fri()}} Friday
										</label>
								</div>
								<div class="checkbox">
										<label>
												{{create_team_form.sat()}} Saturday
										</label>
								</div>
								<div class="checkbox">
										<label>
												{{create_team_form.sun()}} Sunday
										</label>
								</div>

						</div>
				</div>
<div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">

			  <a href="{{url_for('user_page', steam_id=g.user.steam_id)}}"class="btn btn-default">Cancel</a>
<input id="lol" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tooltip on right" class="btn btn-success" type="submit" value="Create Team">
      </div>
    </div>
		</fieldset>


</div>
<form action="" method="post"  name="create_team">
</form>


<script language="javascript">
document.getElementById('teamName').setAttribute('data-toggle','popover')
document.getElementById('teamName').setAttribute('data-placement','right')
document.getElementById('teamName').setAttribute('data-content','Team name can be changed later.')
document.getElementById('teamName').setAttribute('onBlur',"$(this).popover('hide')")

$(document).ready(function(){
				$('#teamName').popover(trigger='focus');
});
</script>
{% endblock %}
