{% extends "layout.html" %}
{% block jumbo %}
<div class="jumbotron">
      <div class="container">
			  <div class="row">
        
		<div class="col-md-5">
<h1>scrimfinder.tf</h1>
<p>Lorem ipsum dolor sit ameti, consectetur adipiscing elit.hasellus eu pellentesque nunc, sodales auctor nisl. Nunc mauris nisi, laoreet et dui sit amet, aliquet cursus ante.</p>
<a class="btn btn-primary btn-lg" role="button" href="{{url_for('all_scrims')}}">Find a scrim &raquo;</a></div>
      </div>
	  </div>
	  </div>
	  {% endblock %}

{% block body %}
	  <div class="container">
			  <div class="row">
					  <div class="col-md-8">
									  		<h1>News</h1>
					  </div>
					  <div class="col-md-4">
							  <h3>Most Active Teams</h3>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">14</span>
    Cras justo odio
  </li>
  <li class="list-group-item">
    <span class="badge">2</span>
    Dapibus ac facilisis in
  </li>
  <li class="list-group-item">
    <span class="badge">1</span>
    Morbi leo risus
  </li>
<li class="list-group-item">
    <span class="badge">14</span>
    Cras justo odio
  </li>
  <li class="list-group-item">
    <span class="badge">2</span>
    Dapibus ac facilisis in
  </li>
  <li class="list-group-item">
    <span class="badge">1</span>
    Morbi leo risus
  </li>
</ul>
					  </div>
			  </div>
	  </div>
{% endblock %}

