{% extends "layout.html" %}
{% block jumbo %}
<div class="jumbotron">
      <div class="container">
			  <div class="row">
        
		<div class="col-md-5">
<h1>scrim.me</h1>
<p>A platform for organizing and scheduling Team Fortress 2 scrims. Browse and filter the available teams to find the perfect match. Hire mercs or find the team that suits you. It’s really simple, have a go.
</p>
<a class="btn btn-primary btn-lg" role="button" href="{{url_for('all_scrims')}}">Find a scrim &raquo;</a></div>
	  <div class="col-md-4 col-md-offset-3">
			  <h1>latest info</h1>
			  <p>
			  We are currently working on the one off scrim feature. Join the discussion on our <a href="http://steamcommunity.com/groups/scrim-me/discussions/0/38596748115051787/">steam group</a> to decide how it will work.<br>
			  Number of users: {{count_users}}<br>
			  Number of teams: {{count_teams}}
			  </p>
	  </div>
	  </div>
	  </div>
	  </div>
	  {% endblock %}

{% block body %}
	  <div class="container">
			  <div class="row">
					  <div class="col-md-8">
									  		<h1>Features and Updates</h1>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Updates</h3>
  </div>
  <div class="panel-body">
<p>
		  <span class="label label-default">July 27 4:27pm</span> - Users can now edit their profile and choose: their skill level / division, main class, if they want to be listed as mercs/ringers. Searching for mercs/ringers is done in the user page. We will be adding an option to select multiple classes and multiple divisions for a user.
		  </p>
<p>
		  <span class="label label-default">July 26 8:31am</span> - added team types (4v4,6v6,9v9). To set a type for your existing teams, go to the edit team page and choose a type. All new teams will have the option to choose a type. Filters will be updated soon.
		  </p>
		  <p>
		  <span class="label label-default">July 26 6:55am</span> - updated time zones based on feedback. Time zones are now represented using UTC offsets. You can edit your team's time zone by clicking the "Edit" button on the team's page.
		  </p>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Working On</h3>
  </div>
  <div class="panel-body">
<div class="alert alert-info">
  <strong>You have an idea?</strong> Please <a href="mailto:support@scrim.me" class="alert-link">let us know</a>, and we will try and implement it.
</div>
<span class="label label-danger">High Priority</span>
<ul>
		<li>One off scrim creation and booking</li>
		<li>Team/User reputation</li>
		<li>Dedicated merc section/features</li>
		<li>Team statistics</li>
</ul>
<span class="label label-warning">Medium Priority</span>
<ul>
		<li>Steam group integration with team pages</li>
		<li>Class assignment and icon in team roster</li>
		<li>Populate team calendar with availability dates</li>
</ul>
<span class="label label-info">Low Priority</span>
<ul>
		<li>Put past and future matches on team calendar</li>
		<li>User notifications and private messages</li>
		<li>Email notifications</li>
		<li>Ranks, achievements and titles</li>
</ul>

  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Current Features</h3>
  </div>
  <div class="panel-body">
<strong>At a glance</strong>
<p><em>Steam login, user profiles with links to UGC, Steam Rep, Steam, team pages, team skill level, availability in week days, time zone, automatic time zone conversion, team management, team feedback comments, scrim booking with map usggestions from both teams, scrim rejections, user and team search with filters and more...</em> Look out for the upcoming features above.</p>
    <strong>Users</strong>
<p>Once a user has logged in securely via Steam, he/she is granted full access to the platform. The user can now browse other users and teams, join multiple existing teams or create a new team to be able to book scrims.</p>
   <strong>Teams</strong>
<p>When creating a team, the team leader sets a number of options like team skill level, time zone and availability in week days. This makes finding other teams with matching characteristics really easy.</p>
<strong>Scrims</strong>
<p>A team leader can propose a scrim to another team using a simple form. The time are locked to the specified availability dates and are automatically converted into the different teams' time zones. The first map is proposed by the challenging team and the second map is choses when the second team accepts the challenge</p>

  </div>
</div>

					  </div>
					  <div class="col-md-4">
							  <h3>Latest Teams</h3>

<ul class="list-group">
		{% for team in teams %}
		<li class="list-group-item">
		<a href="{{url_for('team_page', team_id=team.id)}}">{{team.name}}</a>
		</li>
		{% endfor %}
 
</ul>
<h3>Latest Users</h3>
<ul class="list-group">
		{% for user in users %}
		<li class="list-group-item">
		<a href="{{url_for('user_page', steam_id=user.steam_id)}}">{{user.nickname}}</a>
		</li>
		{% endfor %}
 
</ul>
					  </div>
			  </div>
	  </div>
{% endblock %}

