<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<title>title</title>
	<link rel="stylesheet" href="style.css">
	</head>
	<body>
	<div style="width: 100%; text-align: right;">
			<a href="{{ url_for('index') }}">Home</a>
			<a href="{{ url_for('show_all_users') }}">Users</a>
	{% if current_user.is_authenticated() %}
	<strong><a  href="{{ url_for('user_page', steam_id=g.user.steam_id)}}">{{g.user.nickname}}</a></strong>
	<a href='{{ url_for('logout') }}'>Log out</a>
	{% else %}
	<a href="{{ url_for('login')  }}"><img src='http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png' /></a>
	{% endif %}
	</div>
	<div style="width: 100%">
			{% with messages = get_flashed_messages() %}

			{% if messages  %}
			{% for message in messages %}
			<p>{{ message }} </p>
			{% endfor %}
			{% endif %}
			{% endwith %}
	</div>

	{% block body %} {% endblock %}
	</body>
</html>
