<!DOCTYPE html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Scrim Finder</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/style.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>
	<body>
	<!--
	Navbar
	-->
	<div class="navbar navbar-default navbar-static-top" role="navigation">
	  <div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="{{url_for('index')}}">Scrimfinder</a>
		</div>
		<div class="collapse navbar-collapse">
		  <ul class="nav navbar-nav">
				<li {% if request.path == "/index" %} class="active"{% endif %}><a href="{{ url_for('index') }}">Home</a></li>
				<li {% if request.path == "/users" %}class="active"{% endif %}><a href="{{ url_for('show_all_users') }}">Users</a></li>
				<li {% if request.path == "/teams" %}class="active"{% endif %}><a href="{{ url_for('show_all_teams') }}">Teams</a></li>

				{% if current_user.is_authenticated() %}
				<li {% if "/scrims" in request.path %}class="active"{% endif %}><a href="{{ url_for('show_all_scrims') }}">Scrims</a></li>
				<li {% if "/user/" in request.path %}class="active"{% endif %}><a href="{{ url_for('user_page', steam_id=g.user.steam_id)  }}">{{g.user.nickname}}</a></li>
				<li><a href="{{ url_for('logout') }}">Log out</a></li>
				
				{% else %}
				<li><a href="{{ url_for('login') }}"><img src='http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png' /></a></li>
				{% endif %}
		  </ul>
		</div><!--/.nav-collapse -->
	  </div>
	</div>
	
	<div class="container">
			{% with messages = get_flashed_messages() %}

			{% if messages  %}
			{% for message in messages %}
			<div class="alert alert-success">{{ message }}</div>
			{% endfor %}
			{% endif %}
			{% endwith %}
	

	{% block body %} {% endblock %}

	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</body>
</html>
