{% extends 'layout.html' %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <h2>Notifications</h2>
    <div class="list-group">
      {% for n in notif %}
      <div class="list-group-item">
        <h4 class="list-group-item-heading">
          {% if n.type == 0 %}
          <i class="fa fa-user"></i> Team Join Request
          {% else %}
          None
          {% endif %}
        </h4>
        <p class="list-group-item-text">
        {{ n.text }}
        </p>
        <p class="list-group-item-text">
        <a href="#" class="label label-primary"><i class="fa fa-eye"></i>
        <a href="#" class="label label-danger"><i class="fa fa-trash-o"></i>
        </a>
        </p>
      </div>

      {% endfor %}
    </div>
    <h2>Messages</h2>
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>From</th>
          <th>Subject</th>
          <th>Message</th>
          <th>Mark</th>
          <th>Reply</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
      {% for m in msgs %}
      <tr>
        <td class="col-md-1">
          <img class="img-responsive" style="margin: 0 auto;" src="{{ m.user.avatar_url }}">
        </td>
        <td class="col-md-2">
          <a href="{{url_for('user_page', steam_id=m.user.steam_id)}}">{{ m.user.nickname }}</a>
        </td>
        <td>
          {{ m.subject }}
        </td>
        <td class="col-md-5">
          <p> {{ m.message }}</p>
        </td>
        <td>
          <a href="#" class="btn btn-default btn-sm"><i class="fa fa-eye"></i> Seen</a>
        </td>
        <td>
          <a href="#" class="btn btn-success btn-sm"><i class="fa fa-reply"></i> Reply</a>
        </td>
        <td>
          <a href="#" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> Delete</a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
