{% extends 'layout.html' %}

{% block body %}
<h1> Propose scrim: </h1>
<form action="" method="post"  name="propose_scrim">
	{{form.hidden_tag()}}
	<table>
		<tr>
			<td>Your team: {{ form.team() }}</td>
		</tr>
		<tr>
			<td>Your team timezone: {{ form.time_zone() }}</td>
		</tr>
		<tr>
			<td>Day: {{ form.day() }}</td>
		</tr>
		<tr>
			<td>Time: {{ form.start_time() }}</td>
		</tr>
		<tr>
			<td>Map: {{ form.map(placeholder="Just enter a map") }}</td>
		</tr>
		<tr>
			<td>Type: {{ form.type() }}</td>
		</tr>
	</table>
	<input type="submit" value="Propose Scrim">
</form>

<script src="/static/js/moment.min.js"></script>
<script src="/static/js/moment-timezone.min.js"></script>
<script src="/static/js/moment-timezone-data.js"></script>
<script>
  $(document).ready(function(){
	var teamTimezone = $('#time_zone');
	var scrimDay = $('#day');

	var updateTime = function() {
		timezone = teamTimezone.val();
		day = scrimDay.val();

		var startTimeOptions = $('#start_time > option');
		for (var i = 0; i < startTimeOptions.length; i++) {
			hour = startTimeOptions[i].value;

			thisWeek = moment.utc().day(parseInt(day)).hour(hour).tz(timezone);
			nextWeek = moment.utc().day(parseInt(day)+7).hour(hour).tz(timezone);

			if (thisWeek.unix() > moment.utc().tz(timezone).unix()) {
				startTimeOptions[i].text = thisWeek.minute(0).format('LLLL');
			} else {
				startTimeOptions[i].text = nextWeek.minute(0).format('LLLL');	
			}
		}
	}

	updateTime();
	scrimDay.change(updateTime);
	teamTimezone.change(updateTime);
	setInterval(updateTime, 60000);

	var map = $('#map');
	map.focus(function() {
		if ($(this).val() == $(this).attr('placeholder')) {
			$(this).val('');
		}
	});
	map.blur(function() {
		if ($(this).val() == '') {
			$(this).val($(this).attr('placeholder'));
		}
	});
  });
</script>
{% endblock %}