{% extends 'layout.html' %}

{% block body %}
<div class="col-lg-6 col-lg-offset-3">
		<br>
<form class="form-horizontal well" id="proposeScrimForm" action="" method="post" name="proposeScrim">
{{form.hidden_tag()}}
<legend>Propose Scrim</legend>
<div class="form-group">
		<label for="select" class="col-lg-2 control-label">Your team</label>
		<div class="col-lg-10">
				{{form.team(class_="form-control")}}
		</div>
</div>

<div class="form-group">
		<label for="select" class="col-lg-2 control-label">Your team time zone</label>
		<div class="col-lg-10">
				{{form.time_zone(class_="form-control")}}
		</div>
</div>
<div class="form-group">
		<label for="select" class="col-lg-2 control-label">Day</label>
		<div class="col-lg-10">
				{{form.day(class_="form-control")}}
		</div>
</div>
<div class="form-group">
		<label for="select" class="col-lg-2 control-label">Your time</label>
		<div class="col-lg-10">
				{{form.start_time(class_="form-control")}}
{{ form.utc_time() }}
		</div>
</div>
<div class="form-group">
		<label for="map1" class="col-lg-2 control-label">Map</label>
		<div class="col-lg-10">
				{{form.map(type="text", class_="form-control", id="map1", placeholder="")}}
		</div>
</div>
<div class="form-group">
		<label for="select" class="col-lg-2 control-label">Type</label>
		<div class="col-lg-10">
				{{form.type(class_="form-control")}}
		</div>
</div>
<div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
<a class="btn btn-default" href="{{url_for('team_page', team_id=team_id)}}">Cancel</a>
<input class="btn btn-success" type="submit" value="Propose Scrim">
</div>
</div>
</form>
</div>
<!--<h1> Propose scrim: </h1>
<form id="proposeScrimForm" action="" method="post" name="proposeScrim">
	{{form.hidden_tag()}}
	<table>
		<tr>
			<td>Your team: {{ form.team() }}</td>
		</tr>
		<tr>
			<td>Your team timezone: {{ form.time_zone() }}</td>
		</tr>
		<tr>
			<td>Day: {{ form.day() }}</td>
		</tr>
		<tr>
			<td>Your Time: {{ form.start_time() }}</td>
		</tr>
		<tr>
			<td>{{ form.utc_time() }}</td>
		</tr>
		<tr>
			<td>Map: {{ form.map(placeholder="Just enter a map") }}</td>
		</tr>
		<tr>
			<td>Type: {{ form.type() }}</td>
		</tr>
	</table>
	<input type="submit" value="Propose Scrim">
</form>-->

<script src="/static/js/moment.min.js"></script>
<script src="/static/js/moment-timezone.min.js"></script>
<script src="/static/js/moment-timezone-data.js"></script>
<script>
	var form = $('#proposeScrimForm');
	var teamTimezone = $('#time_zone');
	var scrimDay = $('#day');
	var scrimTime = $('#start_time');
	var utcTime = $('#utc_time');

	// set automatically
	utcTime.hide();

	var updateYourTime = function() {
		timezone = teamTimezone.val();
		day = parseInt(scrimDay.val());

		console.log('Converting------------------------------------------------------------------');
		var startTimeOptions = $('#start_time > option');
		for (var i = 0; i < startTimeOptions.length; i++) {
			hour = parseInt(startTimeOptions[i].value);

			thisWeek = moment.utc().day(day).hour(hour).minute(0).second(0);
			nextWeek = moment.utc().day(day+7).hour(hour).minute(0).second(0);

			if (thisWeek.unix() > moment.utc().unix()) {
				utc = thisWeek.format('LLLL');
				whatever = thisWeek.tz(timezone).format('LLLL');
				startTimeOptions[i].text = whatever;
				console.log('UTC to ' + timezone + ' : ' +  utc + ' -> ' + whatever);
			} else {
				utc = nextWeek.format('LLLL');
				whatever = nextWeek.tz(timezone).format('LLLL');
				startTimeOptions[i].text = whatever;
				console.log('UTC to ' + timezone + ' : ' +  utc + ' -> ' + whatever);
			}
		}
		console.log('----------------------------------------------------------------------------');
	};
	updateYourTime();
	setInterval(updateYourTime, 60000);
	teamTimezone.change(updateYourTime);
	scrimDay.change(updateYourTime);

	var updateUTCTime = function() {
		timezone = teamTimezone.val();
		day = parseInt(scrimDay.val());
		hour = parseInt(scrimTime.val());

		thisWeek = moment.utc().day(day).hour(hour).minute(0).second(0);
		nextWeek = moment.utc().day(day+7).hour(hour).minute(0).second(0);

		console.log('Currently selected-----------------------');
		if (thisWeek.unix() > moment.utc().unix()) {
			utcTime.val(thisWeek.unix());
			console.log('UTC unix: ' + thisWeek.unix());
			console.log('UTC ' + thisWeek.format('LLLL'));
			console.log(timezone + thisWeek.tz(timezone).format('LLLL'));
		} else {
			utcTime.val(nextWeek.unix());
			console.log('UTC unix: ' + nextWeek.unix());
			console.log('UTC ' + nextWeek.format('LLLL'));
			console.log(timezone + ' ' + nextWeek.tz(timezone).format('LLLL'));
		}
		console.log('---------------------------------------');
	};	
	updateUTCTime();
	setInterval(updateUTCTime, 60000);
	teamTimezone.change(updateUTCTime);
	scrimDay.change(updateUTCTime);
	scrimTime.change(updateUTCTime);

	var map = $('#map');
	map.focus(function() {
		if ($(this).val() == $(this).attr('placeholder')) {
			$(this).val('');
		}
	});
	map.blur(function() {
		if ($(this).val() == '') {
			$(this).val($(this).attr('placeholder'));
		}
	});
</script>
{% endblock %}
