{% extends "layout.html" %}

{% block body %}
<h1>{{team_name}}</h1>
{% if not g.user.team_id==team_id %}
<p><a href="{{url_for('team_join', team_id=team_id)}}">Join team</a></p>
{% endif %}
<p>{{team_skill}}</p>

<p>{{team_zone}}</p>
<h1>Members</h1>
{% for member in members %}
<p>
  {{member.nickname}}</b>
</p>
{% endfor %}
<h1>Pending</h1>
{% for pending in pendings %}
<p>
{{pending.nickname}} <a href="{{ url_for('team_accept_user', team_id=team_id, user_id=pending.id  )}}"> Accept user</a>
</p> 
{% endfor %}
{% endblock %}
