{% extends "layout.html" %}

{% block body %}
<div class="page-header" >
        <h1>{{team.name}}  
<div class="btn-group">
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
              <ul class="dropdown-menu">
                          <li> {% if (g.user, "Captain") in members_roles %}
                <a href="{{url_for('edit_team', team_id=team.id)}}"><i class="fa fa-pencil"></i> Edit Team</a>{% endif %}</li>
                                  <li> {% if not in_team %}
                                  <a href="{{url_for('team_join', team_id=team.id)}}" ><i class="fa fa-envelope"></i> Request to join</a>
{% endif %}</li>
<li>
{% if propose_scrim %}
<a href="{{url_for('propose_scrim', opponent_team_id=team.id)}}"><i class="fa fa-bullseye"></i> Propose Scrim</a>
{% endif %}

</li>
                                            </ul>
                                    </div>
</h1>
</div>

<div class="row">
        <div class="col-lg-8">
                <div class="row">
                        <div class="col-md-4">
                                <ul class="list-group">
                                        <li class="list-group-item">
                                        <span class="badge">{{team.reputation}}</span>
                                        Reputation
                                        </li>
                                        <li class="list-group-item">
										<span class="badge">{{team.num_wins}}</span>
                                        Wins
                                        </li>
                                        <li class="list-group-item">
										<span class="badge">{{team.num_losses}}</span>
                                        Losses
                                        </li>
                                        <li class="list-group-item">
                                        <span class="badge">{{team.skill_level}}</span>
                                        Skill level
                                        </li>
                                        <li class="list-group-item">
                                        <span class="badge">{{team.time_zone}}</span>
                                        Time zone
                                        </li>

                                </ul>
                        </div>
                        <div class="col-md-8" style="height: 200px;">
<div id="cal-heatmap"></div>
<div id="click">
<script type="text/javascript">
	var cal = new CalHeatMap();
	cal.init({
				itemSelector: "#click",
				domain: "day",
				subDomain: "hour",
				range: 7,
				cellSize: 15,
				tooltip: true,
				weekStartOnMonday: true,
				highlight: ["now"],
				displayLegend: false,
				onClick: function(date, nb) {
				$("#click-a").html("<a href='#' class='btn btn-primary btn-xs'>Book</a> <em>" +
			date + "</em>"
		);
	}
			});
</script>

<div id="click-a"></div></div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-12">
                                <div class="panel panel-info">
                                        <div class="panel-heading">
                                                <h3 class="panel-title"><i class="fa fa-users"></i> Members</h3>
                                </div>
                                <table class="table table-striped table-hover">
                                        <thead>
                                                <tr>
                                                        <th>Nickname</th>
                                                        <th>Role</th>
                                                        <th>Column heading</th>
                                                        <th>Column heading</th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                        {% for user, role in members_roles %}
                                        <tr>
                                                <td> <a href="{{ url_for('user_page', steam_id=user.steam_id) }}"> {{user.nickname}} </a></td>
                                                <td> {{role}} </td>
                                                {% if (g.user, "Captain") in members_roles %}
                                                <td><a href="{{url_for('promote', team_id=team.id, user_id=user.id)}}">Promote</a></td>
                                                <td><a href="{{url_for('demote', team_id=team.id, user_id=user.id)}}">Demote</a></td>

{% endif %}
</tr>
{% endfor %}
{% for pending in pendings %}
<tr class="warning">
        <td>{{pending.nickname}}</td>
        <td></td>
        <td></td>
        <td>  <a  href="{{ url_for('team_accept_user', team_id=team.id, user_id=pending.id  )}}"> <span class="label label-warning">Accept user</span></a>
  </td>
</tr> 
{% endfor %}

      </tbody>
</table> 

</div>
<div class="panel panel-warning">
  <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-bullseye"></i> Scrims</h3>
  </div>

<ul class="list-group">
{% for scrim_info in scrims_list %}
    <li class="list-group-item">
    <span class="badge">{{ scrim_info.scrim.date }}
    
    
    </span>

    <strong>Versus:</strong> <a href="{{ url_for('team_page', team_id=scrim_info.opponent.id) }}">{{ scrim_info.opponent.name }}</a><br>
    <em>Map 1:</em> {{ scrim_info.scrim.map1 }}, <em>Map 2:</em> {{ scrim_info.scrim.map2 }}<br>
    Type: {{ scrim_info.scrim.type }}
    
    {% if scrim_info.state == "Finished" %}
        <span class="label label-default">{{ scrim_info.scrim.state }}</span>
        <br />
        {% if scrim_info.scrim.result is none %}
            <input type="button" id="uploadResultButton{{ scrim_info.scrim.id }}" value="Submit result" onclick="createUploadResultForm(post_url='{{ url_for('upload_scrim_result') }}', scrim_id={{ scrim_info.scrim.id }})"/>
            <span id="uploadResultFormArea{{ scrim_info.scrim.id }}"></span>
        {% else %}
            {% if team.id == scrim_info.scrim.team1_id %}
                {% if scrim_info.scrim.result == "Won" %}
                    <strong>Result:</strong> <span style="font-weight:bold;color:green">Won</span>
                {% elif scrim_info.scrim.result == "Lost" %}
                    <strong>Result:</strong> <span style="font-weight:bold;color:red">Lost</span>
                {% else %}
                    <strong>Result:</strong> <span style="font-weight:bold;color:orange">Unknown</span>
                {% endif %}
            <!-- opposite -->
            {% elif scrim_info.scrim.result == "Won" %}
                <strong>Result:</strong> <span style="font-weight:bold;color:red">Lost</span>
            {% elif scrim_info.scrim.result == "Lost" %}
                <strong>Result:</strong> <span style="font-weight:bold;color:green">Won</span>
            {% else %}
                <strong>Result:</strong> <span style="font-weight:bold;color:orange">Unknown</span>
            {% endif %}

            <!-- edit result -->
            <input type="button" id="editResultButton{{ scrim_info.scrim.id }}" value="Edit result" onclick="createEditResultForm(post_url='{{ url_for('upload_scrim_result') }}', scrim_id={{ scrim_info.scrim.id }})"/>
            <span id="editResultFormArea{{ scrim_info.scrim.id }}"></span>
        {% endif %}
    {% elif scrim_info.state == "Accepted" %}
        <span class="label label-success">{{ scrim_info.scrim.state }}</span>
    {% elif scrim_info.state == "Rejected" %}
        <span class="label label-danger">{{ scrim_info.scrim.state }}</span>
    {% elif scrim_info.state == "Sent" %}
        <span class="label label-info">{{ scrim_info.scrim.state }}</span>
        <a href="#">Waiting for response</a>
    {% elif scrim_info.state == "Received" %}
        <span class="label label-info">{{ scrim_info.scrim.state }}</span>
        <input type="button" id="acceptScrimButton{{ scrim_info.scrim.id }}" value="Accept" onclick="createAcceptScrimForm(post_url='{{ url_for('accept_scrim') }}', scrim_id={{ scrim_info.scrim.id }})"/>
        <span id="acceptScrimFormArea{{ scrim_info.scrim.id }}"></span>
        <input type="button" id="rejectScrimButton{{ scrim_info.scrim.id }}" value="Reject" onclick="rejectScrim(post_url='{{ url_for('reject_scrim') }}', scrim_id={{ scrim_info.scrim.id }})"/>
        <span id="rejectScrimError{{ scrim_info.scrim.id }}"></span>
    {% endif %}
    </li>
{% endfor %}
</ul>

<script type="text/javascript">
    function createUploadResultForm(post_url, scrim_id) {
        var uploadResultButton = "#uploadResultButton" + scrim_id
        $(uploadResultButton).prop("disabled", true);

        var uniqueFormID = "uploadResultForm" + scrim_id;
        var uniqueErrorID = "uploadResultFormError" + scrim_id;
        var form = "<form action="+post_url+" id="+uniqueFormID+" method=\"post\" name=\"upload_result\">"
        form += "<input type=\"text\" name=\"scrim_id\"/>"
        form += "Logs.tf: <input type=\"text\" name=\"logs_tf_link\"/>"
        form += "Team Color: <select name=\"team_color\">"
        form += "<option value=\"blue\">Blue</option><option value=\"red\">Red</option></select>"
        form += "<input type=\"button\" onclick=\"uploadScrimResult("+scrim_id+");\" value=\"Submit\">"
        form += "<input type=\"button\" onclick=\"cancelUploadScrimResult("+scrim_id+");\" value=\"Cancel\">"
        form += "<span id="+uniqueErrorID+" style=\"color:Red;\"></span>"
        form += "</form>"

        var formArea = "#uploadResultFormArea" + scrim_id
        $(formArea).append(form);

        var form_scrim_id = "#" + uniqueFormID + " input[name=scrim_id]"
        $(form_scrim_id).hide();
        $(form_scrim_id).val(scrim_id);
    }

    function uploadScrimResult(scrim_id) {
        var form = "#uploadResultForm" + scrim_id
        var logs_tf = form + " input[name=logs_tf_link]"
        if ($(logs_tf).val().indexOf("logs.tf/") == 0) {
            // hack
            $.post($(form).attr("action"), $(form).serialize(), function(resp){
                if (resp == "OK")
                {
                    location.reload();
                } else {
                    var error = "#uploadResultFormError" + scrim_id
                    $(error).text("Error: " + resp);
                }
            });
        } else{
            var error = "#uploadResultFormError" + scrim_id
            $(error).text("Please enter a correct log.tf link");
        }
    }

    function cancelUploadScrimResult(scrim_id) {
        var form = "#uploadResultForm" + scrim_id
        $(form).remove();
        var uploadResultButton = "#uploadResultButton" + scrim_id
        $(uploadResultButton).prop("disabled", false);
    }

    function createEditResultForm(post_url, scrim_id) {
        var uploadResultButton = "#editResultButton" + scrim_id
        $(uploadResultButton).prop("disabled", true);

        var uniqueFormID = "editResultForm" + scrim_id;
        var uniqueErrorID = "editResultFormError" + scrim_id;
        var form = "<form action="+post_url+" id="+uniqueFormID+" method=\"post\" name=\"edit_result\">"
        form += "<input type=\"text\" name=\"scrim_id\"/>"
        form += "Logs.tf: <input type=\"text\" name=\"logs_tf_link\"/>"
        form += "Team Color: <select name=\"team_color\">"
        form += "<option value=\"blue\">Blue</option><option value=\"red\">Red</option></select>"
        form += "<input type=\"button\" onclick=\"editScrimResult("+scrim_id+");\" value=\"Submit\">"
        form += "<input type=\"button\" onclick=\"cancelEditScrimResult("+scrim_id+");\" value=\"Cancel\">"
        form += "<span id="+uniqueErrorID+" style=\"color:Red;\"></span>"
        form += "</form>"

        var formArea = "#editResultFormArea" + scrim_id
        $(formArea).append(form);

        var form_scrim_id = "#" + uniqueFormID + " input[name=scrim_id]"
        $(form_scrim_id).hide();
        $(form_scrim_id).val(scrim_id);
    }

    function editScrimResult(scrim_id) {
        var form = "#editResultForm" + scrim_id
        var logs_tf = form + " input[name=logs_tf_link]"
        if ($(logs_tf).val().indexOf("logs.tf/") == 0) {
            // hack
            $.post($(form).attr("action"), $(form).serialize(), function(resp){
                if (resp == "OK")
                {
                    location.reload();
                } else {
                    var error = "#editResultFormError" + scrim_id
                    $(error).text("Error: " + resp);
                }
            });
        } else{
            var error = "#editResultFormError" + scrim_id
            $(error).text("Please enter a correct log.tf link");
        }
    }

    function cancelEditScrimResult(scrim_id) {
        var form = "#editResultForm" + scrim_id
        $(form).remove();
        var editResultButton = "#editResultButton" + scrim_id
        $(editResultButton).prop("disabled", false);
    }

    function createAcceptScrimForm(post_url, scrim_id) {
        var acceptScrimButton = "#acceptScrimButton" + scrim_id
        $(acceptScrimButton).prop("disabled", true);

        var uniqueFormID = "acceptScrimForm" + scrim_id;
        var uniqueErrorID = "acceptScrimFormError" + scrim_id;
        var form = "<form action="+post_url+" id="+uniqueFormID+" method=\"post\" name=\"accept_scrim\">"
        form += "<input type=\"text\" name=\"scrim_id\"/>"
        form += "Your Map: <input type=\"text\" name=\"map\"/>"
        form += "<input type=\"button\" onclick=\"acceptScrim("+scrim_id+");\" value=\"Submit\">"
        form += "<input type=\"button\" onclick=\"cancelAcceptScrim("+scrim_id+");\" value=\"Cancel\">"
        form += "<span id="+uniqueErrorID+" style=\"color:Red;\"></span>"
        form += "</form>"

        var formArea = "#acceptScrimFormArea" + scrim_id
        $(formArea).append(form);

        var form_scrim_id = "#" + uniqueFormID + " input[name=scrim_id]"
        $(form_scrim_id).hide();
        $(form_scrim_id).val(scrim_id);
    }

    function acceptScrim(scrim_id) {
        var form = "#acceptScrimForm" + scrim_id
        var form_map = form + " input[name=map]"

        if ($(form_map).val() != "") {
            $(form).submit();
        } else {
            var warning = "#acceptScrimFormError" + scrim_id
            $(warning).text("Please enter map field");
        }
    }

    function cancelAcceptScrim(scrim_id) {
        var form = "#acceptScrimForm" + scrim_id
        $(form).remove();
        var acceptScrimButton = "#acceptScrimButton" + scrim_id
        $(acceptScrimButton).prop("disabled", false);
    }

    function rejectScrim(post_url, scrim_id) {
        console.log("here");
        $.post(post_url, {'scrim_id': scrim_id}, function(resp){
            if (resp == "OK") {
                // hack
                location.reload();
            }
            else {
                var error = "#rejectScrimError" + scrim_id
                $(error).text("Error: " + resp);
            }
        });
    }

    $('.confirmation').on('click', function () {
        return confirm("Are you sure?");
    });
</script>


</div>                  </div>
                </div>
        </div>
        <div class="col-lg-4">
                <div class="panel panel-primary">
                        <div class="panel-heading">
                                <h3 class="panel-title">Feedback</h3>
                        </div>
                        <div class="panel-body">
{% if not com_list %}
<p class="text-muted">There is no feedback for this team yet.</p>
{% else %}
{% for name,text,ava,comment_steam in com_list %}
<div class="col-lg-2">
		<img src="{{ava}}" width="32px", height="32px" style="margin-top:4px;">
</div>
<div class="col-lg-10">
		<strong><a href="{{url_for('user_page', steam_id=comment_steam)}}">{{name}}</a></strong><br>
        {{text}}
</div>
<hr>
{% endfor %}
{% endif %}
{% if not dont_show %}
<hr>
<form role="form"  action="{{url_for('team_page', team_id=team.id)}}" method="post" name="comment">
        {{form.hidden_tag()}}
<div class="form-group">
{{form.text()}} <br>
<input type="submit" value="Comment">
</div>
</form>
{% endif %}


                        </div>
                </div>
        </div>
</div>



<p>Scrim History <a href="{{ url_for('scrim_history', team_id=team.id, page=1) }}"> Link </a></p>


{% endblock %}
