{% extends "layout.html" %}

{% block body %}
<h1>{{team_name}}</h1>
{% if (g.user, "Leader") in members_roles %}
<p><a href="{{url_for('edit_team', team_id=team_id)}}">Edit team</a></p>
{% endif %}
{% if not in_team %}
<p><a href="{{url_for('team_join', team_id=team_id)}}">Join team</a></p>
{% endif %}

<p>{{team_skill}}</p>
<p>{{team_zone}}</p>
<p>{% for day in aval %}
{% if day%}
{{day}}
{% endif %}
{% endfor %}
</p>

<h1>Members</h1>
{% for user, role in members_roles %}
<p>
  Role: {{ role }}, {{user.nickname}} <a href="{{ url_for('user_page', steam_id=user.steam_id) }}">go to profile page</a></li> </b>
</p>
{% endfor %}

{% if (g.user,'Leader') in members_roles  %}
<h1>Pending</h1>
{% for pending in pendings %}
<p>
{{pending.nickname}} <a href="{{ url_for('team_accept_user', team_id=team_id, user_id=pending.id  )}}"> Accept user</a>
</p> 
{% endfor %}
{% endif %}
{% endblock %}
