{% extends "layout.html" %}
{% block body %}

<img src='{{avatar}}' />
{% if g.user.steam_id in request.path  %}<p><a href="{{ url_for('edit_profile') }}">Edit</a>{% endif %}
<p>User: {{id}}!</p>
<p>Name: {{nick}}!</p>
<p>Most recently played game: {{recently_played_games['games'][0]['name']}}</p>
<p>Unique profile views: 90,000+</p>
<p>Team name: {{ team_name }} </p>
<p>Skill level: {{skill_level }} </p>
<p>Time zone: {{ time_zone }} </p>
<p><a href='{{profile_url}}'>Go to steam profile</a></p>
<p><a href="steam://friends/add/{{id}}">Add on Steam</a></p>
<p><em>Your local time: <span class="time"></span></em></p>

<li><em>Asia/Seoul: <span class="time-zone" zone="Asia/Seoul"></span></em></li>
<li><em>Australia/Perth: <span class="time-zone" zone="Australia/Perth"></span></em></li>
<li><em>CET: <span class="time-zone" zone="CET"></span></em></li>
<li><em>EST: <span class="time-zone" zone="EST"></span></em></li>
<li><em>EST5EDT: <span class="time-zone" zone="EST5EDT"></span></em></li>
<li><em>Etc/GMT: <span class="time-zone" zone="Etc/GMT"></span></em></li>
<li><em>Pacific/Auckland: <span class="time-zone" zone="Pacific/Auckland"></span></em></li>

<script src="/static/js/moment.min.js"></script>
<script src="/static/js/moment-timezone.min.js"></script>
<script src="/static/js/moment-timezone-data.js"></script>
<script>
  $(document).ready(function(){
    var time = $('.time');
    var timeZone = $('.time-zone');
    console.log(timeZone);
    var update = function() {
      console.log('sup');
      time.html(moment().format('LLLL'));
    };
    var updateTimeZone = function() {
      timeZone.each(function(i) {
        $(this).html(moment().tz($(this).attr('zone')).format('LLLL'));
      });
    };
    update();
    updateTimeZone();
    setInterval(update, 60000);
    setInterval(updateTimeZone, 60000);
  });
</script>
{% endblock %}
