{% extends "layout.html" %}
{% block body %}
<h1> {{nick}} </h1>
<p> {{id}} </p>
<img src='{{avatar}}' />
{% if g.user is not none and g.user.steam_id in request.path %}
  <p><a href="{{ url_for('edit_profile') }}">Edit</a>
{% endif %}
<p><a href='{{profile_url}}'>Go to steam profile</a></p>
<p><a href="steam://friends/add/{{id}}">Add on Steam</a></p>
{% if teams_roles %}
<h2>Teams</h2>
  {% for team, role in teams_roles %}
    <h3><a href="{{ url_for('team_page', team_id=team.id) }}">{{ team.name }}</a></h3>
    <p>Role: {{ role }}</p>
    <p>Skill level: {{ team.skill_level }}</p>
    <p>Rep: {{team.reputation }}</p>
    <p>Time zone:  {{ team.time_zone }}</p>
    <p>Week days: {{ team.week_days }}</p>

    <form action="{{ url_for('quit_team', team_id=team.id) }}" method="post" name="quit_team">
    <input type="submit" value="Quit">
    </form>
    <br>
  {% endfor %}
{% else %}
  <p><a href="{{ url_for('create_team') }}">Create a team</a></p>
  <p><a href="{{ url_for('show_all_teams') }}">Join a team</a></p>
{% endif %}

<p><em>Your local time: <span class="time"></span></em></p>

<li><em>Asia/Seoul: <span class="time-zone" zone="Asia/Seoul"></span></em></li>
<li><em>Australia/Perth: <span class="time-zone" zone="Australia/Perth"></span></em></li>
<li><em>CET: <span class="time-zone" zone="CET"></span></em></li>
<li><em>EST: <span class="time-zone" zone="EST"></span></em></li>
<li><em>EST5EDT: <span class="time-zone" zone="EST5EDT"></span></em></li>
<li><em>Etc/GMT: <span class="time-zone" zone="Etc/GMT"></span></em></li>
<li><em>Pacific/Auckland: <span class="time-zone" zone="Pacific/Auckland"></span></em></li>

<script src="/static/js/moment.min.js"></script>
<script src="/static/js/moment-timezone.min.js"></script>
<script src="/static/js/moment-timezone-data.js"></script>
<script>
  $(document).ready(function(){
    var time = $('.time');
    var timeZone = $('.time-zone');
    console.log(timeZone);
    var update = function() {
      console.log('sup');
      time.html(moment().format('LLLL'));
    };
    var updateTimeZone = function() {
      timeZone.each(function(i) {
        $(this).html(moment().tz($(this).attr('zone')).format('LLLL'));
      });
    };
    update();
    updateTimeZone();
    setInterval(update, 60000);
    setInterval(updateTimeZone, 60000);
  });
</script>
{% endblock %}
