{% extends "layout.html" %}
{% block body %}
<div class="page-header">
		<h1>{{user.nickname}}</h1>
</div>

<div class="row">
		<div class="col-lg-6">
				<div class="row">
						<div class="col-md-4">
						<img src='{{ user.avatar_url_full }}' />

						</div>
						<div class="col-md-8">
								<p><strong>SteamID:</strong> {{ user.steam_id }} </p>
								<p><a href='{{ user.profile_url }}'>Go to steam profile</a></p>
								<p><a href="steam://friends/add/{{ user.steam_id }}">Add on Steam</a></p>

						</div>
				</div>
<br>
		</div>
		<div class="col-lg-6">
				{% for team, role in team_roles %}

				<div class="panel panel-primary">
						<div class="panel-heading">
								<h3 class="panel-title"><a href="{{ url_for('team_page', team_id=team.id) }}">{{ team.name }}</a></h3>
						</div>
						<div class="panel-body">
								<div class="row">
								<div class="col-xs-6">
										<p>Role: <span {% if role == "Captain" %}class="label label-success"{% else %} class="label label-warning" {% endif %}>{{ role }}</span> </p>
								<p>Skill level: {{ team.skill_level }}</p>
								<p>Rep: {{team.reputation }}</p>


						</div>
						<div class="col-xs-6">
								<p>Time zone:  {{ team.time_zone }}</p>
								<p>Week days: {{ team.week_days }}</p>
														</div>
						</div>
<form action="{{ url_for('quit_team', team_id=team.id) }}" method="post" name="quit_team">
    <input type="submit" class="btn btn-danger pull-right" value="Quit">
    </form>
						</div>
				</div>
				{% endfor %}
				<p><a href="{{url_for('create_team')}}" class="btn btn-success btn-lg">Create a team</a> <a href="{{url_for('show_all_teams')}}" class="btn btn-primary btn-lg">Join a team</a></p>
		</div>
</div>
{% endblock %}
